@page
@model Mantenimiento.App.Frontend.Pages.ListModel
@{
}

<body class="fondo1">
</body>

<div class="text-center">
    <h2 class="text-info">Lista de contactos</h2>
</div>
<br>
<div class="col-3">
    <a class="btn btn-primary" asp-page="/Contactos/Crear">Crear Nuevo Contacto</a>
</div>
<br>

<table class="table table-dark table-striped">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Telefono</th>
    </tr>
    @foreach (var persona in Model.Personas)
    {
        <tr>
            <td>@persona.Id</td>
            <td>@persona.Nombre</td>
            <td>@persona.Apellidos</td>
            <td>@persona.Telefono</td>
        </tr>
    }
</table>
