@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <br>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-group">
            <div class="card">
                <img src="~/img/img8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alineacion y Balanceo</h5>
                    <br>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="card">
                <img src="~/img/img3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sistema electrico</h5>
                    <br>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="card">
                <img src="~/img/img4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento general</h5>
                    <br>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%;">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-info">MANTENIMIENTO TIC</h1>
                <h4>Lo mejor para su auto</h4>
            </div>
        </div>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%;">
        <div class="row">
            <div class="col-8">
                <img src="~/img/img11.jpg" class="img-fluid" />
            </div>
            <div class="col-4">
                <img src="~/img/img1.jpg" class="img-fluid" />
                <br>
                <br>
                <img src="~/img/img12.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
}