@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<!--
<h1>@ViewData["Title"]</h1>
-->
<h1>Cuenta Confirmada!</h1>
 <button asp-page="./Index" class="btn btn-primary">Log in</button>