@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<br>
<br>
<br>
<br>
<div class="container" style="width: 40%;">

<div class="shadow-lg p-3 mb-2 bg-body rounded fondo1">
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-11">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste la contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrase como nuevo usuario</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
