@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<br>
<br>
<br>
<br>
<br>
<div class="container" style="width: 40%;">
<div class="shadow-lg p-3 mb-2 bg-body rounded fondo1">
<h1>Registarse</h1>

<div class="row">
    <div class="col-md-11">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
