@page
@model Mantenimiento.Pages_Servicios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Crear servicio</h2>

<hr />
<div class="shadow-lg p-3 mb-2 bg-body rounded">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Servicio.FechaCreacion" class="control-label"></label>
                <input asp-for="Servicio.FechaCreacion" class="form-control" />
                <span asp-validation-for="Servicio.FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicio.Descripcion" class="control-label"></label>
                <input asp-for="Servicio.Descripcion" class="form-control" />
                <span asp-validation-for="Servicio.Descripcion" class="text-danger"></span>
            </div>
            <!-- Cliente -->
            <div class="form-group">
                <label asp-for="Servicio.VehiculoID" class="control-label"></label>
                <select asp-for="Servicio.VehiculoID" class ="form-control" asp-items="ViewBag.VehiculoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Servicio.TecnicoID" class="control-label"></label>
                <select asp-for="Servicio.TecnicoID" class ="form-control" asp-items="ViewBag.TecnicoID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-success">to return</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
