@page
@model Mantenimiento.Pages_Tecnicos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Crear Tecnico</h2>
<br>
<hr />
<div class="shadow-lg p-3 mb-2 bg-body rounded">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tecnico.Nombre" class="control-label"></label>
                <input asp-for="Tecnico.Nombre" class="form-control" />
                <span asp-validation-for="Tecnico.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Apellidos" class="control-label"></label>
                <input asp-for="Tecnico.Apellidos" class="form-control" />
                <span asp-validation-for="Tecnico.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Codigo" class="control-label"></label>
                <input asp-for="Tecnico.Codigo" class="form-control" />
                <span asp-validation-for="Tecnico.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Cargo" class="control-label"></label>
                <select asp-for="Tecnico.Cargo" asp-items="Html.GetEnumSelectList<Mantenimiento.Dominio.Cargo>()" class="form-control"></select>
                <span asp-validation-for="Tecnico.Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Telefono" class="control-label"></label>
                <input asp-for="Tecnico.Telefono" class="form-control" />
                <span asp-validation-for="Tecnico.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-success">to return</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
